@{
    ViewBag.Title = "Allied - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active7 = "active";
}

    <!-- about section  -->
	<section class="about text-center" id="about">
    <div id="background">
		<div class="container">
			<div class="row">
                <div style="margin:0px 0px 0px 0px;
				    min-height:150px; 
				    box-sizing:border-box; 
				    -moz-box-sizing:border-box;
                    -webkit-box-sizing:border-box;
                    background-color:#181818;
                    opacity: 0.97;">
				<h2>about us</h2>
                <h4 style="font-size:xx-large; color:#42b3e5">WHY CHOOSE ALLIED LED?</h4>
				
                <h4 style="color:#FFFFFF; 
				    padding:50px 50px 50px 50px; margin-top:-30px">Allied LED lights are a smart innovation in the future of lighting. Since the beginning our portfolio has grown continuously in size and scope. Advanced technology, energy efficiency and durability put Allied LED lights years ahead, giving it a clear edge in today’s market. Allied LED products are crafted to meet global standards like CE, TUV, ROHS and KC. Our lights are superior quality lights products, priced fairly, and can meet your desired expectations.</h4>
                </div>
            </div>
        </div>
    </div>
    </section>