@{
    ViewBag.Title = "Allied - Calalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active4 = "active";
}
<div id="background">
	<section class="about text-center" id="about">
		<div class="container">
            <div style="margin:50px 0px 50px 0px;
				min-height:150px; 
				box-sizing:border-box; 
				-moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                background-color:#181818;
                opacity: 0.97;
                padding:0px 50px 0px 50px;">
                <h2>Our Catalogue</h2>
				<h4 style="color:White"><a target="_blank" href="~/Content/files/ALLIED_LED_CATALOGUE.pdf">Click here to download the catalogue</a></h4>
                
                <iframe
                    src="https://drive.google.com/file/d/0B0yc7N-rZec9MUdkTGtjSzEwM1E/preview" 
                    style="width:100%; height:550px; margin-bottom:50px" frameborder="0">
                </iframe>
            </div>
        </div>
    </section>
</div>

