@{
    ViewBag.Title = "Allied - Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active5 = "active";
    ViewBag.Contact = 1;
}

<section id="contact-info">
<div>
    <div class="gmap-area">
        <div class="container">
        <div style="margin:0 0px 0px 0px;
				    min-height:150px; 
				    box-sizing:border-box; 
				    -moz-box-sizing:border-box;
                    -webkit-box-sizing:border-box;
                    background-color:#181818;
                    opacity: .97;">
                    <div class="about" align="center">                
                        <h2 style="margin-top: -20px">How to Reach Us?</h2>
                        <h4 style="font-size:xx-large; color:#42b3e5">Directions and addresses of our offices are given below.</h4>
                    </div>
            <div class="row" style="padding:0px 50px 50px 50px">
                
                <div class="col-md-6 contact-form">
					<h3 style="color:#ffffff">leave us a message</h3>
                    <div align="center" style="color:#42b3e5; font-size:x-large; padding:8px 0px 8px 0px;">@ViewBag.msg</div>
                    @using(Html.BeginForm("Index","Contact")){
					
						<input class="name" name="name" type="text" placeholder="Name" required />
						<input class="email" name="email" type="email" placeholder="Email" required />
						<input class="phone" name="phone" type="text" placeholder="Phone No:" required />
						<textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
						<input style="float:left" class="submit-btn" type="submit" value="SUBMIT">
					
                    }
				</div>

                <div class="col-md-6 contact-info text-left">
                <ul>
                <li>
					<h3 style="color:#ffffff; font-family: 'Economica', sans-serif;">contact information</h3>
					<div class="info-detail">
						<ul><li style="color:#ffffff; font-family: 'Economica', sans-serif; font-size:large"><i class="fa fa-map-marker"></i><span>Address:</span> 446/B, Tejgaon I/A, Dhaka-1208, Bangladesh</li></ul>
						<ul><li style="color:#ffffff; font-family: 'Economica', sans-serif; font-size:large"><i class="fa fa-phone"></i><span>Phone:</span> +880 1847 088613, +880 1847 088612</li></ul>
						<ul><li style="color:#ffffff; font-family: 'Economica', sans-serif; font-size:large"><i class="fa fa-envelope"></i><span>Email:</span> sales@myalliedbd.com</li></ul>
					</div>
                </li>
                <br />
                <li>
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d7303.0576057482995!2d90.40279254335971!3d23.76417675600455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d23.7636863!2d90.402789!5e0!3m2!1sen!2sbd!4v1438359849383" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                </li>
                </ul>
                </div>

                
            </div>
        </div>
        </div>
    </div>
</div>
</section>  <!--/gmap_area -->